<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="subscribe bdrs-30 inner-pd-40">
          <p class="subscribe__title">Подпишитесь</p>
          <p class="subscribe__subtitle">на рассылку наших новостей</p>
          <form action="" class="subscribe__form">
            <label for="email-s" class="form__Label subscribe__label">
              <input type="email"
                     name="email"
                     id="email-s"
                     class="form__input subscribe__input"
                     placeholder="Введите вашу почту"
                     required
              >
            </label>
            <label for="conf-input-s" class="conf subscribe__conf">
              <input type="checkbox"
                     class="conf__input js-enabled-submit"
                     id="conf-input-s"
                     checked
              >
              <span class="conf__pane"></span>
              Соглашаюсь с правилами
              <a href="">обработки данных</a>
            </label>
            <button class="btn-reset btn btn_purple form__submit subscribe__submit js-form-submit">Подписаться</button>
          </form>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer__col">
          <div class="footer__nav">
            <p class="footer__caption">Клиентам и Партнерам</p>
            <ul class="footer__list">
              <li class="footer__item"><a href="" class="footer__nav-link">Продукты</a></li>
              <li class="footer__item"><a href="" class="footer__nav-link">Услуги</a></li>
              <li class="footer__item"><a href="" class="footer__nav-link">Блог</a></li>
              <li class="footer__item"><a href="" class="footer__nav-link">Проекты</a></li>
            </ul>
          </div>
          <div class="footer__info">
            <a href="" class="logo footer__logo">
              <svg width="215" height="34" class="logo__img">
                <use xlink:href="assets/img/sprite.svg#logo"></use>
              </svg>
              <p class="logo__text">Маркетинговое агентство для роста
                малого&nbsp;бизнеса по всей России</p>
            </a>
            <address class="footer__address footer__contact">101000, г. Москва, Мясницкая ул., 22</address>
          </div>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <div class="footer__col">
          <div class="footer__nav">
            <p class="footer__caption">Услуги</p>
            <ul class="footer__list">
              <li class="footer__item"><a href="" class="footer__nav-link">Управление репутацией</a></li>
              <li class="footer__item"><a href="" class="footer__nav-link">Продвижение медицинских центров</a></li>
              <li class="footer__item"><a href="" class="footer__nav-link">Продвижение интернет-магазинов</a></li>
              <li class="footer__item"><a href="" class="footer__nav-link">Продвижение в финансовом секторе</a></li>
              <li class="footer__item"><a href="" class="footer__nav-link">Продвижение девелоперов</a></li>
              <li class="footer__item"><a href="" class="footer__nav-link">Контекстная реклама</a></li>
              <li class="footer__item"><a href="" class="footer__nav-link">Разработка сайтов</a></li>
            </ul>
          </div>
          <div class="footer__info">
            <a href="tel:84994901123" class="footer__phone footer__contact  footer__link mb-2">+7(499) 490-11-23</a>
            <a href="mailto:hello@nikto.agency" class="footer__email footer__contact footer__link ">hello@nikto.agency</a>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="footer__hr"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="footer__copyright">
          <p class="footer__contact">@2024</p>
          <a href="" class="footer__link footer__contact"><b>Политика конфиденциальности</b></a>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <a href="" class="footer__link footer__contact">Пользовательское соглашение</a>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <ul class="social">
          <li class="social__item">
            <a href="" class="social__link">
              <img src="assets/img/svg/icon-tlg.svg" alt="" width="30" height="30">
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link">
              <img src="assets/img/svg/icon-wa.svg" alt="" width="30" height="30">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <a href="" class="header__phone flex-all-center footer__call">
    <svg width="24" height="23">
      <use xlink:href="assets/img/sprite.svg#icon-phone"></use>
    </svg>
  </a>
  <button class="btn-reset button-up flex-all-center js-button-up">
    <svg width="15" height="9">
      <use xlink:href="assets/img/sprite.svg#icon-up"></use>
    </svg>
  </button>
</footer>
