<header class="header" id="header">
  <div class="container container_min">
    <div class="row align-items-center">
      <div class="col-lg-3 col-8 order-lg-0 order-2">
        <a href="" class="logo header__logo">
          <svg width="215" height="34" class="logo__img">
            <use xlink:href="assets/img/sprite.svg#logo"></use>
          </svg>
          <p class="logo__text">Маркетинговое агентство для роста дохода малого бизнеса по всей России</p>
        </a>
      </div>
      <div class="col-lg-8 col-2 order-lg-0 order-1">
        <button class="btn-reset burger js-open-mobile-menu"><span></span><span></span><span></span></button>
        <div class="header__nav-wrapper">
          <nav class="top-nav header__nav">
            <ul class="top-nav__list">
              <li class="top-nav__item"><a href="" class="top-nav__link">Услуги</a></li>
              <li class="top-nav__item"><a href="" class="top-nav__link">Кейсы</a></li>
              <li class="top-nav__item"><a href="" class="top-nav__link">Блог</a></li>
              <li class="top-nav__item"><a href="" class="top-nav__link">Чек листы</a></li>
              <li class="top-nav__item"><a href="" class="top-nav__link">Контакты</a></li>
            </ul>
          </nav>
          <a href="" class="header__email flex-all-center">
            <svg width="21" height="15">
              <use xlink:href="assets/img/sprite.svg#icon-email"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-lg-1 col-2 order-lg-0 order-3">
        <a href="" class="header__phone flex-all-center">
          <svg width="24" height="23">
            <use xlink:href="assets/img/sprite.svg#icon-phone"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>
