<section class="hero pdb-100" id="hero">
  <div class="container">
    <div class="row row row-gap-15">
      <div class="col-lg-7 col-md-6 pr-md-0">
        <div class="hero__left-card inner-pd-40 bdrs-30">
          <h1 class="title-h1 hero__title">Увеличим прибыль
            вашего бизнеса</h1>
          <div class="hero__left-card--bottom">
            <p>Обеспечим <span>стабильный
            поток клиентов</span>
              для малого бизнеса</p>
            <button class="btn-reset btn btn_white">Получить консультацию</button>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="hero-grid">
          <div class="hero-grid__item inner-pd-20 hero-grid__item_top-left">
            <p>Увеличиваем прибыль
              <span>в 1,5 раза</span>
              без увеличения бюджетов</p>
            <p>Быстрый запуск и тест гипотез за <span>5 дней</span></p>
          </div>
          <div class="hero-grid__item inner-pd-20 hero-grid__item_top-right-top">
            <svg >
              <use xlink:href="assets/img/sprite.svg#icon-yandex"></use>
            </svg>
            <svg >
              <use xlink:href="assets/img/sprite.svg#icon-bitrix"></use>
            </svg>
            <svg >
              <use xlink:href="assets/img/sprite.svg#icon-sk"></use>
            </svg>
            <svg >
              <use xlink:href="assets/img/sprite.svg#icon-mgu"></use>
            </svg>
          </div>
          <div class="hero-grid__item inner-pd-20 hero-grid__item_top-right-bottom">
            <p class="mb-3">Наша цель - <br>переход вашего бизнеса
              из категории малого
              в средний.</p>
            <p class="hero-grid__item--right-text">
              Синичкина Елена, сооснователь агентства
            </p>
          </div>
          <div class="hero-grid__item inner-pd-20 hero-grid__item_center">
            <p><span>Решаем репутационные задачи</span>
              для бизнеса и персон любого
              уровня&nbsp;сложности</p>
          </div>
          <div class="hero-grid__item inner-pd-20 hero-grid__item_bottom">
            <p>Берем проекты, если <br>
              уверены в успехе</p>
            <p class="hero-grid__item--percent">100%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
