.header {
  padding-top: 30px;
  @include r(1024) {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  &__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    padding: 10px 10px 10px 50px;
    border-radius: 100px;
    background-color: rgba(235, 239, 241, 0.5);
    backdrop-filter: blur(20px);
    @include r(1024) {
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s all ease;
      transition: .3s all ease;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      &.is-open {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }
  &__email {
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $purple2;
    transition: backgrond-color $trns;
    svg {
      fill: $purple2;
      transition: fill $trns;
    }
    &:hover {
      background-color: $purple2;
      svg {
        fill: $white;
      }
    }
  }
  &__phone {
    margin-left: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $purple;
    border: 5px solid transparent;
    transition: all .6s;
    @include r(1024) {
      width: 45px;
      height: 45px;
    }
    &:hover {
      animation: shadow .6s 1 ease-in-out;
    }
  }
}
@keyframes shadow {
  0% {
    border-color: #CD8AFF;
    box-shadow: 0 0 10px 0px #CD8AFF, 0 0 10px 0 #CD8AFF;
  }
  100% {
    border-color: #E3BDFF;
    box-shadow: 0 0 16px 6px rgba(227, 189, 255, .2), 0 0 4px 15px rgba(227, 189, 255, .2);
  }
}

.logo {
  @include r(1024) {
    margin: 0 auto;
    display: block;
    width: max-content;
    max-width: 100%;
  }
  &__img {
    margin-bottom: 8px;
    @include r(1024) {
      max-width: 137px;
      margin-bottom: 3px;
    }
  }
  &__text {
    font-weight: 300;
    font-size: 0.8rem;
    @include r(1024) {
      max-width: 166px;
      font-size: 10px;
    }
  }
}

.top-nav {
  flex: 0 0 calc(100% - 80px);
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include r(1024) {
      flex-direction: column;
      padding-top: 30px;
      padding-bottom: 30px;
      justify-content: center;
      align-items: flex-start;
    }
  }
  &__item {
    position: relative;
  }
  &__link {
    transition: color $trns;
    &:hover {
      color: $purple2;
      text-decoration: underline;
    }
  }
}

.burger {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid $purple2;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  padding: 0 10px;
  display: none;
  @include r(1024) {
    display: flex;
  }
  span {
    display: inline-block;
    background-color: $purple2;
    height: 3px;
    border-radius: 100px;
    width: 100%;
    transition: width $trns;
    &:nth-child(2) {
      width: 70%;
    }
    &:last-child {
      width: 40%;
    }
  }
}
